.prose {
	--tw-prose-body: var(--on-surface);
	--tw-prose-headings: var(--on-surface);
	--tw-prose-lead: #4b5563;
	--tw-prose-links: var(--on-surface);
	--tw-prose-bold: var(--on-surface);
	--tw-prose-counters: #6b7280;
	--tw-prose-bullets: #d1d5db;
	--tw-prose-hr: #e5e7eb;
	--tw-prose-quotes: var(--on-surface);
	--tw-prose-quote-borders: var(--on-surface-tertiary);
	--tw-prose-captions: var(--on-surface-tertiary);
	--tw-prose-kbd: var(--on-surface);
	--tw-prose-kbd-shadows: 17 24 39;
	--tw-prose-code: var(--on-surface);
	--tw-prose-pre-code: #e5e7eb;
	--tw-prose-pre-bg: #1f2937;
	--tw-prose-th-borders: #d1d5db;
	--tw-prose-td-borders: #e5e7eb;
}
