:root {
	--surface: #eff2f9;
	--on-surface: #343c42;
	--on-surface-secondary: #475569;
	--on-surface-tertiary: #6e7f8d;

	--surface-variant: #f8f8ff;
	--on-surface-variant: #343c42;
	--on-surface-variant-secondary: #475569;

	--primary: #205c8d;
	--on-primary: #eff2f9;
	--on-primary-secondary: #eff2f9;

	--nav-background: rgba(255, 255, 255, 0.9);

	--hero-bg-image: url("/img/hero-bg.png");
	--hero-bg: linear-gradient(180deg, #eff2f9 -34.81%, rgba(239, 242, 249, 0) 33.99%),
		linear-gradient(180deg, rgba(239, 242, 249, 0) 49.96%, #eff2f9 100%),
		var(--hero-bg-image) lightgray 50% / cover no-repeat;
}

html[data-theme="night"] {
	--surface: #0d2030;
	--on-surface: #e0e3e6;
	--on-surface-secondary: #475569;
	--on-surface-tertiary: #6e7f8d;

	--surface-variant: #0b1a28;
	--on-surface-variant: #e0e3e6;
	--on-surface-variant-secondary: #6e7f8d;

	--primary: #3b81ba;
	--on-primary: #e0e3e6;
	--on-primary-secondary: #e0e3e6;

	--nav-background: rgba(7, 17, 26, 90%);

	--hero-bg-image: url("/img/hero-bg-night.png");
	--hero-bg: linear-gradient(180deg, #0b1a28 -34.81%, rgba(13, 34, 60, 0) 33.99%),
		linear-gradient(180deg, rgba(13, 34, 60, 0) 49.96%, #0b1a28 100%), var(--hero-bg-image) grey 50% / cover no-repeat;
}
